name: Python CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  PYTHONPATH: .
  MCP_SERVER_URL: wss://mcp.openai.com/v1

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-


    - name: Install dependencies
      run: |
        python -m venv venv
        source venv/bin/activate || .\venv\Scripts\Activate.ps1
        pip install -r requirements.txt
        playwright install


    - name: Run tests
      run: |
        source venv/bin/activate || .\venv\Scripts\Activate.ps1
        pytest -v --maxfail=1 --disable-warnings --html=report.html --self-contained-html

    - name: Upload HTML Report
      uses: actions/upload-artifact@v4
      with:
        name: pytest-report
        path: report.html
